<!DOCTYPE HTML>
<html>
<head>
    <title>Change</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/channels" method="get">
        <button type="submit">CHANNELS</button>
    </form>
    <form action="/users" method="get">
        <button type="submit">USERS</button>
    </form>
    <form action="/correct" method="get">
        <button type="submit">CHANNEL</button>
    </form>
    <form action="/logs" method="get">
        <button type="submit">LOGS</button>
    </form>
</div>
</body>
</html>