<!DOCTYPE HTML>
<html>
<head>
    <title>LOGS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/" method="get">
    <button type="submit">HOME</button>
</form>
<div>
    <form method="post">
        <table>
            <tr>
                <th>Channel</th>
                <th>User</th>
                <th>Sort</th>
            </tr>
            <tr>
                <td>
                    <select name="channel">
                        <option>...</option>
                        {{#channels}}
                            <option>{{name}}</option>
                        {{/channels}}
                    </select>
                </td>
                <td>
                    <select name="user">
                        <option>...</option>
                        {{#users}}
                            <option>{{name}}</option>
                        {{/users}}
                    </select>
                </td>
                <td>
<!--                    <select name="sortBy">-->
<!--                        <option>date</option>-->
<!--                        <option>channel</option>-->
<!--                        <option>user</option>-->
<!--                    </select>-->
                </td>
            </tr>
            <tr>
                <th>
                   <input type="checkbox" name="store">
                    <label for="store">Store</label>
                </th>
                <td>

                </td>
                <td>
                    <button type="submit">GET</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <th>CHANNEL</th>
            <th>USER</th>
            <th>FREQUENCY</th>
            <th>POLARIZATION</th>
            <th>CREATED</th>
        </tr>
        {{#logs}}
            <tr>
                <td>{{channel.name}}</td>
                <td>{{cc_user.name}}</td>
                <td>{{newFrequency}}</td>
                <td>{{newPolarizationValue}}</td>
                <td>{{created}}</td>
            </tr>
        {{/logs}}
    </table>
</div>
</body>
</html>