<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/" method="get">
    <button type="submit">HOME</button>
</form>
<div>
    <form method="post" action="/users/create">
        <label for="username">User name</label>
        <input type="text" name="login">
        <label for="pswd">Password</label>
        <input type="text" name="password">
        <select name="role">
            {{#roles}}
                <option>
                    {{.}}
                </option>
            {{/roles}}
        </select>
        <button type="submit">CREATE USER</button>
    </form>
</div>
<h1>
    USERS IN SYSTEM:
</h1>
<div>
    <table>
        <tr>
            <th>USER NAME</th>
            <th>PASSWORD</th>
            <th>ROLE</th>
            <th>STATE</th>
        </tr>
        {{#users}}
            <tr>
                <td>{{login}}</td>
                <td>{{hashPassword}}</td>
                <td>{{role}}</td>
                <td>{{state}}</td>
            </tr>
        {{/users}}
    </table>
</div>
</body>
</html>